* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: 'Nunito', sans-serif;
    width: 100%;
    height: 100vh;
    min-height: 500px;
    color: white;
    animation: bgChanger 120s infinite;
}

@keyframes bgChanger{
  0%{
    background-color: #1abc9c;
  }
  10%{
    background-color: #9b59b6;
  }
  20%{
    background-color: #e74c3c;
  }
  30%{
    background-color: #2D7D9A;
  }
  40%{
    background-color: #00CED1;
  }
  50%{
    background-color: #FF6347;
  }
  60%{
    background-color: #F4A460;
  }
  70%{
    background-color: #48BFF4;
  }
  80%{
    background-color: #FFC49B;
  }
  90%{
    background-color: #DC6BAD;
  }
  100%{
    background-color: #1abc9c;
  }
}

header{
    width: 100%;
    padding: 1rem;
    text-align: right;
}

.home_btn{
    text-decoration: none;
    color: #eee;
    padding: .5rem 1rem;
    border-radius: .25rem;
    animation: bgChanger 120s infinite;
    filter: brightness(90%);
    transition: .3s;
    text-shadow: 2px 2px 3px rgba(0,0,0,.5);
}

.home_btn:hover,
.home_btn:focus{
    box-shadow: inset 3px 3px 2px rgba(0,0,0,.1),
                inset -3px -3px 2px rgba(255,255,255,.15);
    color: #fff;
    text-shadow: none;
}

.main_div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 70%;
    min-height: 400px;
    padding: 0;
    border-radius: .5rem;
    box-shadow: 5px 5px 5px rgba(0,0,0,.2),
               -5px -5px 5px rgba(255,255,255,.2);
    overflow-y: scroll;
    z-index: 10;
}

.song_name{
    font-size: 1.125rem;
    padding: .5rem;
    margin: .5rem;
    border-radius: .5rem;
    animation: bgChanger 120s infinite;
    filter: brightness(95%);
    transition: .3s;
    cursor: pointer;
    text-shadow: 2px 2px 3px rgba(0,0,0,.5);
}

.song_name:hover,
.song_name:focus{
    box-shadow: inset 3px 3px 2px rgba(0,0,0,.1),
                inset -3px -3px 2px rgba(255,255,255,.15);
    text-shadow: none;
}

.controls_div{
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    /*height: 25%;*/
    /*max-height: 200px;*/
    /*min-height: 150px;*/
    padding: 0 .5rem;
    border-radius: .5rem 0 0 .5rem;
    animation: bgChanger 120s infinite;
    filter: brightness(90%);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.current_song_name{
    margin: 1rem 0 0 0;
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
}

.controls{
    width: 100%;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.control_btns{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.control_btn{
    border-radius: 50%;
    border: none;
    animation: bgChanger 120s infinite;
    filter: brightness(115%);
    cursor: pointer;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.control_btn:hover,
.control_btn:focus{
    box-shadow: inset 3px 3px 2px rgba(0,0,0,.2),

                inset -3px -3px 2px rgba(255,255,255,.15);
}

.control_btn > img{
    width: 35px;
    height: 35px;
    padding: .5rem;
}

.play_pause_btn img{
    width: 45px;
    height: 45px;
    padding: .5rem;
    
}

.seek_bar{
    width: 80%;
    height: .35rem;
    margin: 1rem 0 0 0;
    border-radius: .25rem;
    animation: bgChanger 120s infinite;
    filter: brightness(110%);
    display: flex;
    /*cursor: pointer;*/
}

.fill{
    width: 0;
    height: 100%;
    border-radius: .25rem;
    animation: bgChanger 120s infinite;
    filter: brightness(70%);
}

.handle{
    width: .35rem;
    height: .35rem;
    border-radius: 50%;
    color: black;
    animation: bgChanger 120s infinite;
    filter: brightness(50%);
    transform: scale(2.5);
}

.song_time{
    width: 80%;
    margin: .25rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .80rem;
    
}



.main_div::-webkit-scrollbar{
    width: .5rem;
}
.main_div::-webkit-scrollbar-track {
    box-shadow: inset 2px 2px 4px rgba(0,0,0,0.2),
                inset -2px -2px 4px rgba(255,255,255,.2);
    border-radius: 0 .5rem .5rem 0;
}
.main_div::-webkit-scrollbar-thumb {
    border-radius: 0 .5rem .5rem 0;
    box-shadow: inset 2px 2px 3px rgba(255,255,255,.4),
                inset -2px -2px 3px rgba(0,0,0,0.3);
}

@media (min-width: 700px){
    .main_div{
        width: 400px;
    }
}

@media (min-width: 1000px){
    .main_div{
        width: 500px;
    }
}


